* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-seri;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 0.75rem 1rem;
  border-radius: 4px;
  background: #121212;
  color: #ffffff;
  transition: opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    opacity: 0.9;
  }
}

.p-8 {
  padding: 0.5rem;
}

.p-12 {
  padding: 0.75rem;
}

.p-16 {
  padding: 1rem;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: grid;
  place-items: center;
}

.alert-wrapper {
  min-width: 300px;
  aspect-ratio: 1;
}

.alert-header {
  background: #ffffff;
  padding: 1rem;
  border-bottom: 1px solid #d5d5d5;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.alert-body {
  background: #ffffff;
  padding: 1rem;
}

.alert-footer {
  background: #ffffff;
  padding: 0.75rem;
  border-top: 1px solid #d5d5d5;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-end {
  justify-content: flex-end;
}
.align-center {
  align-items: center;
}

.center-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lbl {
  font-size: 0.875rem;
}

.p-1rem {
  padding: 0.75rem;
}
.px-1rem {
  padding-inline: 0.75rem;
}
.py-1rem {
  padding-block: 0.75rem;
}

.p-2rem {
  padding: 1rem;
}
.px-2rem {
  padding-inline: 1rem;
}
.py-2rem {
  padding-block: 1rem;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
.h-half {
  height: 50%;
}

.grid-center-items {
  display: grid;
  place-items: center;
}

.flex-bx {
  display: flex;
}

.flex-bx-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.gap1 {
  gap: 0.75rem;
}
.gap2 {
  gap: 1rem;
}
.gap3 {
  gap: 2rem;
}
